img {
    max-width: 100%;
    max-height: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * C O V E R * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */


.cover-box {
	position: relative;
	margin-left: 8%;
	margin-right: 35%;
	margin-top: 10%;
	margin-bottom: 6%
}

.title {
	position: absolute;
	margin-left: 40%;
	margin-top: 12%;
}

.title-text {
  width: 120%;
  text-align: right;
	background-color: white;
	font-family: futura;
	font-size: 8vw;
}

#desk {
}

#subtitle {
	font-size: 3vw;
	margin-top: 2%;
}

/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * P R O J E C T S * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */
.projects-page {
	background-color: #4da6ff;
}

#triangle {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #bb99ff;
	border-bottom: 50px solid transparent;
	-webkit-clip-path: polygon(100% 52%, 0 64%, 41% 100%);
	clip-path: polygon(100% 52%, 0 64%, 41% 100%);
}



/* * * * * * * * ( E N D ) * * * * * * * * */