img {
    max-width: 100%;
    max-height: 100%;
}

svg {
	height: 100%;
	width: 100%;
}

.break {
	background-color: lightgrey;
	height: 1px;
	width: 100%;
}


/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * C O V E R * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */


.cover-box {
	height: 50vh;
	position: relative;
	margin-left: 8%;
	margin-right: 35%;
	margin-top: 10%;
	margin-bottom: 10%
}

.title {
	position: absolute;
	margin-left: 30%;
	margin-top: 6%;
}

.title-text {
  width: 120%;
  text-align: right;
	background-color: white;
	font-family: futura-bold;
	font-size: 8vw;
}

#subtitle {
	font-size: 3vw;
	margin-top: 2%;
	font-family: futura;
}

.social-bar {
	display: inline-block;
}


/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * P R O J E C T S * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */
.projects-page {
	height: 80vh;
	background-color: #4da6ff;
}
polygon#triangle {
	fill: #bb99ff;
}
/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * F O O T E R * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */
.footer {
	background-color: #ff4d4d;
	height: 240px;
}

/* * * * * * * * ( E N D ) * * * * * * * * */