/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * C O V E R * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */


.cover-box {
	height: 50vh;
	position: relative;
	margin-left: 8%;
	margin-right: 35%;
	margin-top: 10%;
	padding-bottom: 10%;
	width: 80%;
/*	display: -webkit-box;*/
}

.title {
	position: absolute;
	margin-left: 30%;
	margin-top: 6%;
}

.title-text {
  width: 120%;
  text-align: right;
	background-color: white;
	font-family: futura-bold;
	font-size: 8vw;
}

#subtitle {
	font-size: 3vw;
	margin-top: 2%;
	font-family: futura;
}

img#desk {
    max-width: 50vw;
    max-height: 50vw;
}

.projects-button {
	font-family: 'helvetica neue';
	border-width: 1.2px;
  color: white;
  border-color: #ff4d4d;
  background-color: #ff4d4d;
  float: right;
  margin-top: 30vw;
  margin-left: 5%;
  display: none;
}


.social-bar {
	margin-top: 5%;
}

.social-bar a {
	display: inline-block;
}

.github {
	height: 2EM;
	width: 2EM;
	margin-left: 4%;
}

.projects-a {
	font-family: 'helvetica neue';
	border-width: 1.2px;
  color: white;
  border-color: #ff4d4d;
  background-color: #ff4d4d;
  display: inline-block;
	margin-left: 20%;
}

/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * P R O J E C T S * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */
.projects-page {
	margin-top: 5%;
	height: 80vh;
	background-color: #919da9;
}
svg#projects-svg {
	height: 100%;
	width: 100%;
}
polygon#triangle {
	fill: #b191c6;
}
.break {
	background-color: lightgrey;
	height: 1px;
	width: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * F O O T E R * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * */
.footer {
	background-color: #ff4d4d;
	height: 240px;
}

/* * * * * * * * ( E N D ) * * * * * * * * */